@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
      transform: scale(0.5); /* Start from half size */
      opacity: 0; /* Initially invisible */
  }
  100% {
      transform: scale(1); /* Scale to full size */
      opacity: 1; /* Fully visible */
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(50px); /* Start from below */
      opacity: 0; /* Initially invisible */
  }
  100% {
      transform: translateY(0); /* Move to original position */
      opacity: 1; /* Fully visible */
  }
}

.animated {
  animation-name: fadeIn;
  animation-duration: 1.5s; /* Adjust animation duration as needed */
  animation-fill-mode: forwards; /* Retain final state of animation */
}

.hey {
  font-size: 18px;
  margin-bottom: 0;
}

#inputNumber {
  max-width: 280px; /* Adjust width as needed */
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  outline: none; /* Remove outline */
  flex: 1;
}

#inputNumber::placeholder {
  color: #999; /* Placeholder text color */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: normal; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
  color: #333; /* Adjust text color as needed */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 80vh; /* Full height of the viewport */
  animation: slideIn 1.7s ease forwards;
}

.myMessage {
  background-color: #f0f0f0; /* Grey-ish background color */
  border-radius: 30px; /* Rounded corners */
  padding: 10px 15px; /* Padding for text inside the bubble */
  max-width: 70%; /* Limit maximum width of the bubble */
  margin: 5px 0; /* Margin for spacing between bubbles */
}


/* Style for the "Get Quote" button */
#getQuoteButton {
  background-color: #007aff; /* Blue background color similar to iMessage Send button */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 20px; /* Rounded corners */
  padding: 7px 13px; /* Padding for text inside the button */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin: 10px 0;
  margin-left: 3px;
}

#getQuoteButton:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.timeAndDate {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.today, .hourAndMinute {
  margin-right: 3px; /* Add space between the elements */
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  margin-top: 0px;
}